extends layout

block content
    script.
        function _process() {
            _JsVex.load(document.getElementById('url').value, function () {
                document.getElementById('body').value = JSON.stringify(_JsVex.extractAll(document.getElementById('url').value.length > 0), "", " ");
            });
        }
    input#url(type = 'text')
    button#load(onclick='_process()') Load
    textarea#body(placeholder='', style='display:block;width:70%;height:400px')
